root = true

[*]
charset = utf-8
end_of_line = lf

[*.{bat,cmd}]
end_of_line = crlf

[*.{yaml,yml,xml,java,dart,podspec,rb,h,m,plist}]
indent_size = 2
indent_style = space
insert_final_newline = true

[{Rakefile,.editorconfig,LICENSE,.gitignore,.gitattributes,Gemfile,Podfile}]
indent_size = 2
indent_style = space
insert_final_newline = true
